development:
  site: 'jagan.dev'
  use_ssl: true
  js_url: 'http://jagan.dev/1.12/pusher.min.js'
  app_id: '1' # Your Jagan application ID
  key: 'your_key_goes_here'    # Your Jagan application key
  secret: 'your_secret_goes_here' # Your Jagan application secret

test:
  site: 'jagan.dev'
  use_ssl: true
  js_url: ''
  app_id: '1'
  key: 'your_key_goes_here'
  secret: 'your_secret_goes_here'

production:
  site: ''
  use_ssl: true
  js_url: ''
  app_id: ''
  key: ''
  secret: ''