<div id="jaganizer">
  <div class="jaganizer_container jaganizer_clearfix">
    <a href="#" class="jaganizer_chatroom_link">
      <span>Chatroom</span>
    </a>
    <div class="jaganizer_chatroom" style="display:none;">
      <div class="jaganizer_users">
        <h6>Connected users</h6>
        <ul></ul>
      </div>
      <div class="jaganizer_messages">
        <h6>Chat</h6>
        <ul></ul>
        <form action="" method="post" id="jaganizer_chatbox">
          <input type="hidden" name="channel_name" value="<%= @channel_name %>" />
          <textarea name="message" id="message"></textarea>
        </form>
        <form action="" method="post" id="jaganizer_updater">
          <input type="hidden" name="message_id" value="" />
          <label>
            Edit message sent at <span></span> <a href="#" class="close">&times;</a>
            <textarea name="updated_message" id="updated_message"></textarea>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="<%= Jaganizer.config[:js_url] %>" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    jaganizer.init('<%= Jaganizer.config[:key] %>', '<%= @channel_name %>');
  });
</script>